@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.navbar {
  font-size: larger;
  .navbar-brand {
    font-size: x-large;
  }
}
.add-form {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  max-width: 50rem;
  .form-label {
    margin-bottom: 1rem;
  }
}
.modal-backdrop.show {
  opacity: 0.12;
}
